@use "/src/sass/base/variables.scss" as v;

@mixin title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: v.$dark;
    text-transform: uppercase;
}

@mixin button {
    display: block;
    padding: 0 15px;
    background-color: transparent;
    border: 1px solid v.$dark;
    border-radius: 2px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: v.$dark;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin angle-decoration {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 200px;
        height: 200px;
        background-color: transparent;
        border-top: 1px solid v.$dark;
        border-left: 1px solid v.$dark;
        z-index: -1;
    }
}
